<section id='header'>
  <h1>Today's best picks => Moto 3</h1>
</section>

<aside id='info1' class='info'>
  In Moto 3 playing $10 on each bet would earn $<%= @profit %> for you in last thirty days
</aside>

<%= render partial: 'partials/output_table', locals: { data: @moto3s, team_name: 'Rider' } %>

<aside id='legend'>
  <span class='align_left'><p>LEGEND:</p></span>
  <p><b>who's better</b> - which of these two riders would finish first – 1 means rider one, 2 means rider two</p>
  <p><b>position</b> - which position would that rider have – V means he will win, 1-3 means he will be at least 3rd, 1-5 means at least 5th etc.</p>
</aside>