<section id='header'>
  <h1>Today's best picks => All disciplines</h1>
</section>

<aside id='info1' class='info'>
  Today's most recommended plays chosen by us, from all disciplines
</aside>

<%= render partial: 'partials/output_table', locals: { data: @main_page_bets, team_name: 'Side' } %>