<section id='header'>
  <h1>Today's best picks => eSports</h1>
</section>

<aside id='info1' class='info'>
  In eSports playing $10 on each bet would earn $<%= @profit %> for you in last thirty days
</aside>

<%= render partial: 'partials/output_table', locals: { data: @esports, team_name: 'Team' } %>

<aside id='legend'>
</aside>