@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import 'constants';

body {
  color: white;
  margin: 0;
  background-color: $primary-color;
  font-family: $primary-font;
}
strong {
  font-weight: normal;
}
.notice, .alert {
  text-align: center;
}
.button-right {
  padding: 0 1em 1em 0;
  width: 100%;
  text-align: right;
}

// TOP PANEL
#logo {
  width: 300px;
  padding: 0 2%;
  object-fit: contain;
}

#top_panel_wrapper {
  background-color: $third-color;
  #top_panel {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    #additional {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
      div div {
        font-size: .9em;
        font-weight: bold;
        text-shadow: 1px 1px 10px #110a2b;
      }
      .marked {
        text-transform: uppercase;
        font-family: $secondary-font;
        color: $primary-accent;
        a {
          color: inherit;
          text-decoration: none;
        }
      } .description {
        color: #eee;
        text-transform: uppercase;
        font-family: $secondary-font;
      }
    }
  }
}

// NAV BAR
#nav_wrapper {
  background-color: $secondary-color;
  nav {
    max-width: $max-width;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      a {
        width: 100%;
        text-decoration: none;
        color: $primary-accent;
        li {
          text-align: center;
          padding: 1.5em 0;
          background-color: $secondary-color;
          box-sizing: border-box;
          border-top: 2px solid $third-color;
          transition: all .2s;
          text-transform: uppercase;
          font-family: $secondary-font;
          &:hover {
            border-top: 2px solid $secondary-accent;
            background-color: $fourth-color;
          } 
        }
      }
      li.active {
        border-top: 2px solid $secondary-accent;
      }
    }
  }
}

// LANDSCAPE IMAGE
#landscape_image {
  position: relative;
  width: 100%;
  height: 300px;
  background: url('landscape.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  .purple_dim {
    z-index: 1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 20, 79, 0.3);
  }
  .dots_pattern {
    z-index: 2;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('dots.png');
  }
  .flex_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      z-index: 3;
      color: white;
      font-size: 4.2vmax;
      text-shadow: 1px 1px 2px #110a2b;
      text-transform: uppercase;
      font-family: $secondary-font;
      text-align: center;
      max-width: 50%;
      .accent {
        color: $primary-accent;
      }
    } 
  }
}

// MAIN
main {
  text-align: center;
  color: white;
  padding: 2% 8% 0;
}

.pagination {
  color: $primary-accent;
  font-family: $secondary-font;
  font-size: 1.5em;
  span {
    padding: .2em;
    a {
      padding: .2em;
      text-decoration: none;
    }
  }
}

// INDEX
#index {
  padding: 1em 0;
  margin-top: 2em;
  max-width: 100%;
  background-color: $secondary-color;
  .flexbox {
    margin: 2em 0;
    font-family: $secondary-font;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    div {
      // width: 40%;
      text-align: center;
      .white {
        color: white;
      }
      ul, ul a {
        height: 100%;
        color: $secondary-accent;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
  .description {
    margin: 2em auto 1em;
    max-width: $max-width;
    font-size: .9em;
    line-height: 1.25em;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
}

// FOOTER
footer {
  margin-top: 1px;
  text-align: center;
  color: white;
  width: 100%;
  padding: 1em 0;
  background-color: $secondary-color;
  span {
    transition: all .3s;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid white;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}