$max-width: 1200px;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Oswald', sans-serif;

// $primary-color: #332468;
// $secondary-color: #21144f;
// $third-color: #271859;
// $fourth-color: #180d3d;

// $primary-accent: yellowgreen;
// $secondary-accent: red;

$primary-color: #080826;
$secondary-color: #12122d;

$primary-accent: #25ab80;
$secondary-accent: #25ab80;
$third-color: lighten($secondary-color, 5%);
$fourth-color: $third-color;

$won: #CCFF00;
$lost: crimson;
$undefined: silver;