$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Oswald', sans-serif;

$primary-color: #332468;
$secondary-color: #21144f;
$third-color: #271859;
$fourth-color: #180d3d;

$primary-accent: yellowgreen;
$secondary-accent: red;