<h1>Who are we?</h1>

<div style="max-width: 800px; margin: 0 auto 5em; text-align: justify">
  <p>Maciej and Mike are two friends that enjoy creating meaningful things in their spare time. Right now you are looking at their project called <strong>Motobet</strong>. At <strong>Motobet</strong> you will find our <strong>predictions</strong> when it comes to <strong>motorsports</strong> as well as <strong>esports</strong>. Feel <strong>free</strong> to check out <%= link_to 'how we do it', about_our_work_path %>. </p>

  <p style="padding-left: 3em">In his <strong>betting</strong> Maciej is most of the time risk averse, looking for real deals, believing in consistent and mathematical approach to betting. He is the one keeping an eye on <strong>Moto GP</strong>, <strong>Moto 2</strong>, <strong>Moto 3</strong> and <strong>Formula 1</strong> sections. Though it can be dangerous, he believes that numbers can reveal so much information that it's not even crucial to watch the particular sport to bet correctly (though he is indeed a huge fan of MotoGP). You can check his results in any of the <strong>motorsport</strong> sections.

  <p style="padding-right: 3em">Lorem ipsum dolor amet iPhone kale chips 90's bespoke quinoa. Wolf flexitarian pabst ramps, VHS slow-carb iceland migas poutine tofu kombucha chillwave four dollar toast health goth. Farm-to-table stumptown meh cray wolf twee, hexagon tumeric health goth pabst. Adaptogen cray photo booth readymade wolf viral retro tousled portland. Pinterest taiyaki quinoa PBR&B. Skateboard bespoke activated charcoal ramps cliche air plant kinfolk cardigan mlkshk palo santo vaporware. DIY iPhone portland pinterest.</p>
</div>