<h1>So how does it work?</h1>

<div style="max-width: 800px; margin: 0 auto 5em; text-align: justify">
<p>When it comes to <strong>betting on <b>Moto GP</b>, <b>Moto 2</b>, <b>Moto 3</b> and <b>Formula 1</b></strong> we have developed a proprietary <strong>program</strong> that predicts the results from these disciplines. The program is based on analyzing riders tendencies to be better or worse in qualifications and race, compared to the results from trainings. Technically it's not too complicated, and it's effectiveness you can judge on your own checking <strong>Formula 1, Moto GP, Moto 2, or Moto 3 sections.</p>

<p style="padding-left: 3em">While <strong>betting on <b>basketball</b></strong> we use some help from <a href="http://www.progsport.com">an online source that already offers <strong>computed predictions on basketball</strong></a>. We then run this data through our own filters that we have proved to present better results, and that's how we deliver to you even more precise suggestions.</p>
</div>